.Ball {
  border-radius: 50%;
  background-color: lightblue;
  color: black;
  width: 5em;
  height: 3.5em;
  padding-top: 1.5em;
  text-align: center;
  margin: 0.5em;
  font-weight: bold;
}

.Ball-fizz,
.Ball-buzz,
.Ball-fizzbuzz {
  color: white;
}

.Ball-fizz {
  background-color: teal;
}

.Ball-buzz {
  background-color: darksalmon;
}

.Ball-fizzbuzz {
  background-color: goldenrod;
}